@charset "UTF-8";

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
	src: url('../fonts/Raleway/Raleway-ExtraBold.otf');
	src: url('../fonts/Raleway/Raleway-ExtraBold.eot');
	src: url('../fonts/Raleway/Raleway-ExtraBold.woff');
	}
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico.ttf');
	src: url('../fonts/Pacifico/Pacifico.otf');
	src: url('../fonts/Pacifico/Pacifico.eot');
	src: url('../fonts/Pacifico/Pacifico.woff');
	}
@font-face {
    font-family: 'Mohave-Bold';
    src: url('../fonts/Mohave/Mohave-Bold.ttf');
	src: url('../fonts/Mohave/Mohave-Bold.otf');
	src: url('../fonts/Mohave/Mohave-Bold.eot');
	src: url('../fonts/Mohave/Mohave-Bold.woff');
	}
@font-face {
    font-family: 'Mohave';
	src: url('../fonts/Mohave/Mohave.ttf');
 	src: url('../fonts/Mohave/Mohave.otf');
	src: url('../fonts/Mohave/Mohave.eot');
	src: url('../fonts/Mohave/Mohave.woff');
	}		

/*GENERAL STYLES*/

form#contact-form input[type=text],input[type=email],textarea{
	padding:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0; 
	-moz-border-radius:0;
	border-radius:0;
	line-height:1.5em;
	}

a:link{text-decoration:none;color:#000000;}
a:active{color:#000000;}
a:visited{color:#000000;}
/*a:hover{color:#7F7F7F}*/

img{
	border:none;
	}


/*SMARTHPHONE*/
@media only screen and (max-width:480px){

body{
	width:100%;
	height:auto;
	max-width:480px;	
	min-width:320px;	
	margin: 0 auto;
	padding:0;
	}
	
/*HEADER*/
div#header{
	width:100%;
	max-width:480px;	
	min-width:320px;
	margin:0 auto;	
	height:120px;
	position:fixed;
	z-index:20;
	background-color:#fff;
	}
div#title{
	height:80px;
	width:100%;
	}
div#title h1{
	margin:0 auto;
	text-align:center;
	font-family:Pacifico;
	font-size:2.3em;
	color:#A79E65;
	}
div#menu{
	height:40px;
	width:100%;
	}
div#menu ul{
	display:blcok;
	margin:0;
	padding:0;
	text-align:center;
	}
div#menu li{
	list-style:none;
	display:inline;
	margin:0;
	padding:0;
	font-family:Mohave-Bold;
	color:#999;
	font-size:1.3em;
	padding-right:5px;
	cursor:pointer;
	}
/*END HEADER*/		

div#content{
	width:100%;
	height:auto;
	margin:0 auto;
	}	
	
/*PORTFOLIO*/

div#gallery-container{
	width:100%;
	margin:0 auto;
	margin-bottom:20px;
	padding:0;
	height:auto;
	overflow:hidden;
	}	
div#gallery {
	width:100%;
	height:80px;
	margin-top:0 auto;
	padding-top:120px;
	}
div#gallery h1{
	width:100%;
	margin:0 auto;
	padding-top:10px;
	font-family:Mohave-Bold;
	font-size:2em;
	text-align:center;
	letter-spacing:1px;
	color:#A79E65;
	}	
div#gallery-container ul{
	margin:0;
	padding:0;
	list-style:none;
	height:auto;
	}	
div#gallery-container li{
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	}
div#gallery-container img{
	margin:0 auto;
	min-width:320px;
	max-width:101%;
	position:static;
	height:auto;
	float:left;
	}
div#gallery-scroll{
	display:none;
	position:relative;
	bottom:260px;
	z-index:10;
	width:100%;
	height:auto;
	margin:0 auto;
	}		
div#gallery-scroll img{
	height:40px;
	width:40px;
	opacity:0.5;
	cursor:pointer;
	}	
div#pic-credits{
	width:100%;
	height:30px;
	padding:0;
	margin:0 auto;
	position:relative;
	z-index:5;
	margin-bottom:-25px;
	}
div#pic-credits p{
	width:100%;
	height:40px;
	margin:0;
	padding:5px 0 5px 0;
	font-family:Mohave;
	font-size:1.1em;
	text-align:center;
	background-color:rgba(255,255,255,0.4);
	}
/*END PORTFOLIO*/

/*ABOUT ME*/
div#about{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-bottom:30px;
	}
div#about h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
div#about p{
	width:90%;
	margin:0 auto;
	text-align:justify;
	font-family:Mohave;
	font-size:1.3em;
	line-height:1.3em;
	letter-spacing:0.04em;
	word-spacing:0.04em;
	}	
	
/*END ABOUT ME*/

/*CONTACT*/	
div#contact{
	width:90%;
	height:auto;
	margin:0 auto;
	}
div#contact h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
	
form#contact-form{
	width:300px;
	height:auto;
	margin:0 auto;
	}
form#contact-form label{
	margin-bottom:5px;
	font-family:Mohave;
	width:70px;
	font-size:1.3em;
	display:inline-block;
	text-align:left;
	}		
form#contact-form input{
	margin-bottom:5px;
	width:285px;
	font-family:Mohave;
	font-size:1.1em;
	}			
form#contact-form textarea{
	font-family:Mohave;
	font-size:1.1em;
	width:287px;
	height:100px;
	margin-bottom:5px;
	}
form#contact-form input#input-submit{
	font-size:1.2em;
	height:25px;
	width:100px;
	}		
div#contact p{
	width:90%;
	margin:0  auto;
	font-family:Mohave-Bold;
	letter-spacing:0.03em;
	text-align:center;
	}
div#contact p#mailto{
	width:300px;
	margin: 0 auto;
	margin-bottom:10px;
	font-family:Mohave-Bold;
	letter-spacing:0em;
	font-size:1.3em;
	background-image:url(../images/mail.png);
	background-size:contain;
	background-repeat:no-repeat;
	}
p#mailto a{
	margin-left:20px;
	}
			
/*END CONTACT*/

/*SOCIAL*/
div#social{
	width:90%;
	height:auto;
	margin:0 auto;
	}
div#social ul{
	list-style-type:none;
	display:block;
	padding:0;
	margin: 10px auto 0 auto;
	text-align:center;
	}
div#social li{
	display:inline;
	}		
div#social img{
	width:30px;
	height:30px;
	}
/*END SOCIAL*/

/*FOOTER*/

div#footer{
	width:90%;
	height:auto;
	margin:0 auto;
	}
div#footer p{
	text-align:center;
	font-family:Mohave;
	font-size:1em;
	}
	
/*END FOOTER*/		
}




/*TABLET*/
@media only screen and (min-width:481px) and (max-width:768px){	

body{
	width:100%;
	height:auto;
	max-width:768px;	
	min-width:700px;	
	margin: 0 auto;
	padding:0;
	}
	
/*HEADER*/
div#header{
	width:100%;
	max-width:768px;	
	min-width:700px;
	margin:0 auto;	
	height:80px;
	position:fixed;
	z-index:20;
	background-color:#fff;
	}
div#title{
	height:100%;
	width:40%;
	float:left;
	}
div#title h1{
	margin-top:0px;
	text-align:center;
	font-family:Pacifico;
	font-size:2.3em;
	color:#A79E65;
	}
div#menu{
	height:100%;
	width:60%;
	float:left;
	}
div#menu ul, div#menu li{
	list-style:none;
	display:inline;
	margin:0;
	padding:0;
	}
div#menu ul{
	margin-top:26px;
	margin-right:10px;
	float:right;
	
	}
div#menu li{
	font-family:Mohave-Bold;
	color:#999;
	font-size:1.5em;
	padding-right:8px;
	cursor:pointer;
	}
/*END HEADER*/		

div#content{
	width:100%;
	height:auto;
	margin:0 auto;
	}	
	
/*PORTFOLIO*/

div#gallery-container{
	width:100%;
	margin:0 auto;
	padding:0;
	height:384px;
	overflow:scroll;
	overflow-y:hidden;
	overflow-x:hidden;	
	}	
div#gallery {
	width:100%;
	height:80px;
	margin-top:0 auto;
	padding-top:80px;
	}
div#gallery h1{
	width:100%;
	margin:0 auto;
	padding-top:10px;
	font-family:Mohave-Bold;
	font-size:2em;
	text-align:center;
	letter-spacing:1px;
	color:#A79E65;
	}	
div#gallery-container ul{
	margin:0;
	padding:0;
	list-style:none;
	height:384px;
	}	
div#gallery-container li{
	display:inline;
	width:auto;
	height:384px;
	}
div#gallery-container img{
	float:left;
	width:auto;
	height:384px;
	}
div#gallery-scroll{
	position:relative;
	bottom:200px;
	z-index:10;
	width:100%;
	height:auto;
	margin:0 auto;
	}		
div#gallery-scroll img{
	height:40px;
	width:40px;
	opacity:0.5;
	cursor:pointer;
	}
	
div#pic-credits{
	width:90%;
	height:30px;
	padding:0;
	margin:0 auto;
	position:relative;
	bottom:30px;
	margin-bottom:-25px;
	}
div#pic-credits p{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	font-family:Mohave;
	font-size:1.1em;
	text-align:center;
	}		
	
/*END PORTFOLIO*/

/*ABOUT ME*/
div#about{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-bottom:30px;
	}
div#about h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
div#about p{
	width:90%;
	margin:0 auto;
	text-align:justify;
	font-family:Mohave;
	font-size:1.3em;
	line-height:1.3em;
	letter-spacing:0.04em;
	word-spacing:0.04em;
	}	
	
/*END ABOUT ME*/

/*CONTACT*/	
div#contact{
	width:90%;
	height:auto;
	margin:0 auto;
	}
div#contact h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
	
form#contact-form{
	width:650px;
	height:auto;
	margin:0 auto;
	}
form#contact-form label{
	font-family:Mohave;
	width:70px;
	font-size:1.3em;
	display:inline-block;
	text-align:right;
	margin-right:5px;
	}
form#contact-form label#label-email{
	width:50px;
	}		
form#contact-form input{
	width:250px;
	font-family:Mohave;
	font-size:1.1em;
	}				
form#contact-form textarea{
	position:relative;
	bottom:21px;
	left:75px;
	font-family:Mohave;
	font-size:1.1em;
	width:564px;
	height:100px;
	max-width:565px;
	max-height:100px;
	}
form#contact-form input#input-submit{
	font-size:1.2em;
	height:25px;
	width:100px;
	position:relative;
	bottom:15px;
	left:75px;
	}
div#contact p{
	width:90%;
	margin:0  auto;
	font-family:Mohave-Bold;
	letter-spacing:0.03em;
	text-align:center;
	}
div#contact p#mailto{
	width:670px;
	margin: 0 auto;
	}
div#contact p#mailto{
	width:300px;
	margin: 0 auto;
	margin-bottom:10px;
	font-family:Mohave-Bold;
	letter-spacing:0.03em;
	font-size:1.3em;
	text-align:right;
	background-image:url(../images/mail.png);
	background-size:contain;
	background-repeat:no-repeat;
	}					
/*END CONTACT*/

/*SOCIAL*/
div#social{
	width:90%;
	height:auto;
	margin: 10px auto 0 auto;	
	}
div#social ul{
	list-style-type:none;
	display:block;
	padding:0;
	margin: 0 auto;
	text-align:center;
	}
div#social li{
	display:inline;
	}		
div#social img{
	width:30px;
	height:30px;
	}
/*END SOCIAL*/

/*FOOTER*/

div#footer{
	width:100%;
	height:auto;
	margin:0 auto;
	}
div#footer p{
	text-align:center;
	font-family:Mohave;
	font-size:1em;
	letter-spacing:1px;
	}
	
/*END FOOTER*/		
}


	

/*DESKTOP*/
@media only screen and (min-width:769px){
	

body{
	width:100%;
	height:auto;
	max-width:1280px;	
	min-width:990px;	
	margin: 0 auto;
	padding:0;
	}
	
/*HEADER*/
div#header{
	width:100%;
	max-width:1280px;	
	min-width:990px;
	margin:0 auto;	
	height:80px;
	position:fixed;
	z-index:20;
	background-color:#fff;
	}
div#title{
	height:100%;
	width:35%;
	float:left;
	}
div#title h1{
	margin-top:0px;
	text-align:center;
	font-family:Pacifico;
	font-size:2.5em;
	color:#A79E65;
	}
div#menu{
	height:100%;
	width:65%;
	float:left;
	}
div#menu ul, div#menu li{
	list-style:none;
	display:inline;
	margin:0;
	padding:0;
	}
div#menu ul{
	margin-top:26px;
	margin-right:40px;
	float:right;
	
	}
div#menu li{
	font-family:Mohave-Bold;
	color:#999;
	font-size:1.5em;
	padding-right:10px;
	cursor:pointer;
	}
/*END HEADER*/		

div#content{
	width:100%;
	height:auto;
	margin:0 auto;
	}	
	
/*PORTFOLIO*/

div#gallery-container{
	width:100%;
	margin:0 auto;
	padding:0;
	height:480px;
	overflow:scroll;
	overflow-y:hidden;
	overflow-x:hidden;	
	}	
div#gallery {
	width:100%;
	height:80px;
	margin-top:0 auto;
	padding-top:80px;
	}
div#gallery h1{
	width:100%;
	margin:0 auto;
	padding-top:10px;
	font-family:Mohave-Bold;
	font-size:2em;
	text-align:center;
	letter-spacing:1px;
	color:#A79E65;
	}	
div#gallery-container ul{
	margin:0;
	padding:0;
	list-style:none;
	height:480px;
	}	
div#gallery-container li{
	display:inline;
	width:auto;
	height:480px;
	}
div#gallery-container img{
	float:left;
	width:auto;
	height:480px;
	}
div#gallery-scroll{
	position:relative;
	bottom:260px;
	z-index:10;
	width:100%;
	height:auto;
	margin:0 auto;
	}		
div#gallery-scroll img{
	height:40px;
	width:40px;
	opacity:0.5;
	cursor:pointer;
	}
	
div#pic-credits{
	width:90%;
	height:30px;
	padding:0;
	margin:0 auto;
	margin-bottom:-25px;
	position:relative;
	bottom:30px;
	}
div#pic-credits p{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	font-family:Mohave;
	font-size:1.1em;
	text-align:center;
	}			
	
/*END PORTFOLIO*/

/*ABOUT ME*/
div#about{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-bottom:30px;
	}
div#about h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
div#about p{
	width:650px;
	margin:0 auto;
	text-align:justify;
	font-family:Mohave;
	font-size:1.3em;
	line-height:1.3em;
	letter-spacing:0.04em;
	word-spacing:0.04em;
	}	
	
/*END ABOUT ME*/

/*CONTACT*/	
div#contact{
	width:90%;
	height:auto;
	margin:0 auto;
	margin-bottom:20px;
	}
div#contact h1{
	width:100%;
	height:40px;
	margin:0 auto;
	margin-bottom:30px;
	font-family:Mohave-Bold;
	font-size:2em;
	letter-spacing:1px;
	color:#A79E65;
	text-align:center;
	}
	
form#contact-form{
	-webkit-appearance: none;
	width:650px;
	margin:0 auto;
	}
form#contact-form input[type=text],textarea{
	padding:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0; 
	-moz-border-radius:0;
	border-radius:0;
	}	
form#contact-form label{
	-webkit-appearance: none;
	font-family:Mohave;
	width:70px;
	font-size:1.3em;
	display:inline-block;
	text-align:right;
	margin-right:5px;
	}
form#contact-form label#label-email{
	width:50px;
	}		
form#contact-form input{
	width:250px;
	font-family:Mohave;
	font-size:1.1em;
	letter-spacing:0.03em;
	}				
form#contact-form textarea{
	position:relative;
	bottom:21px;
	left:75px;
	font-family:Mohave;
	font-size:1.1em;
	letter-spacing:0.03em;
	width:564px;
	height:100px;
	max-width:565px;
	max-height:100px;
	}
form#contact-form input#input-submit{
	font-size:1.2em;
	height:25px;
	width:100px;
	position:relative;
	bottom:15px;
	left:75px;
	}
div#contact p{
	width:90%;
	margin:0  auto;
	font-family:Mohave-Bold;
	letter-spacing:0.03em;
	text-align:center;
	}
div#contact p#mailto{
	width:300px;
	margin: 0 auto;
	margin-bottom:10px;
	font-family:Mohave-Bold;
	letter-spacing:0.03em;
	font-size:1.3em;
	text-align:right;
	background-image:url(../images/mail.png);
	background-size:contain;
	background-repeat:no-repeat;
	}	
/*END CONTACT*/

/*SOCIAL*/
div#social{
	width:90%;
	height:auto;
	margin: 10px auto 0 auto;	
	}
div#social ul{
	list-style-type:none;
	display:block;
	padding:0;
	margin: 0 auto;
	text-align:center;
	}
div#social li{
	display:inline;
	}		
div#social img{
	width:30px;
	height:30px;
	}
/*END SOCIAL*/

/*FOOTER*/

div#footer{
	width:100%;
	height:auto;
	margin:0 auto;
	}
div#footer p{
	text-align:center;
	font-family:Mohave;
	font-size:1em;
	letter-spacing:1px;
	}
	
/*END FOOTER*/		
}